@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  @apply px-4 py-2 rounded;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
  height: 100vh;
  background-color: #30363d;
  background-image: url("./images/6674f0cdb5b7b401612cf065_noise-50.avif");
  background-size: 200px 200px;
}
